/* MOBILE */
@media (max-width: 576px) {

  /* Navbar */
  .bar {
    display: block;
    font-size: 20px;
  }

  .nav .list-service {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45px;
    padding: 20px;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    line-height: 1.75em;
    background-color: #fffde3;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 4px;
    transition: all 0.3s ease-in-out;
  }

  .nav .list-service a {
    margin: 7px;
    margin-right: unset !important;
  }

  .nav .list-service a:first-child {
    margin-top: 15px;
  }

  .nav .list-service button {
    margin-left: unset !important;
    margin-bottom: 40px;
  }

  /* Search image bar */
  .search-by-image {
    position: fixed;
    top: 70px;
    width: 89%;
  }

  /* ANALYZING TEXT */
  .analyzing-text {
    font-size: 20px;
    margin-top: -170px !important;
    margin-bottom: 230px !important;
  }

  .analyzing-animation {
    transform: scale(2);
  }

  /* FAQ */
  .faq-container {
    margin-top: 100px;
  }

  /* Home */
  .hero {
    grid-template-rows: 55% 30% !important;
    grid-template-columns: unset !important;
  }

  .hero-text {
    order: 2 !important;
  }

  .hero-text p:nth-child(1) {
    font-size: 20px !important;
    margin-top: -52px !important;
    margin-left: -2% !important;
    width: 104% !important;
  }

  .hero-text p strong {
    font-size: 21px !important;
  }

  .hero img {
    width: 100% !important;
    margin-left: -3px !important;
    margin-top: 60px !important;
  }

  .number-buttons {
    margin-left: 6% !important;
    padding: 5px !important;
    width: 310px !important;
    margin-top: 25px !important;
  }

  .number-buttons button strong {
    font-size: 14px !important;
  }


  .number-buttons button span {
    font-size: 18px !important;
  }

  .pipe {
    display: block !important;
    font-weight: 400 !important;
  }

  .easy {
    font-size: 11px !important;
    width: 122% !important;
    margin-left: -11% !important;
  }

  .learn-how-it-works {
    font-size: 25px !important;
  }

  .how-it-works {
    margin-left: 16px !important;
    grid-template-columns: auto !important;
    gap: 50px !important;
  }

  .report {
    width: 60% !important;
    top: -29px !important;
    left: 22% !important;
    padding: 8px 17px !important;
  }

  .paddingp {
    grid-template-columns: 50% 50% !important;

  }

  .paddingp-bottom {
    grid-template-columns: auto !important;
    margin: 50px 15px auto !important;
    gap: 50px !important;
  }

  .paddingp p {
    left: 20% !important;
  }

  .learn-how-it-works {
    margin-top: -10px !important;
  }


  .newest-post-container {
    display: grid;
    grid-template-columns: auto;
    gap: 16px;
    padding: 0 10px;
    margin-bottom: 100px;
  }

  /* New post */
  .title-newest-post {
    padding: 70px 82px 30px !important;
  }

  .title-newest-post p {
    font-size: 25px !important;
  }

  /* Quick search */
  .quick-search {
    position: relative;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    padding: 20px 20px 70px;
    border-radius: 20px;
    background-color: #fff;
  }

  .pipe {
    display: none;
  }

  .quick-search .categories .left {
    margin-right: 27px;
  }

  .quick-search .categories .left label {
    font-size: 14px;
  }

  .btn-quick-search {
    position: absolute;
    left: 26%;
    bottom: 10px;
  }

  /* About us */
  .offer-block {
    margin-top: 15%;
    display: grid;
    grid-template-columns: auto;
    column-gap: 2%;
    margin-bottom: 4%;
  }

  .offer {
    margin-bottom: 15%;
  }

  .offer-middle {
    margin-bottom: 15%;
  }

  .offer-content {
    font-size: 14px;
  }

  .big-block-about h1 {
    font-size: 25px;
  }

  .big-block-about {
    margin-top: 26%;
    margin-bottom: 10%;
  }

  .big-block-about .content {
    grid-template-columns: auto;
    gap: 16px;
    font-size: 14px;
  }

  /* Lost and found stuff */
  .newest-post-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 16px;
    padding: 0 15px;
    margin-bottom: 100px;
    margin-left: -20px;
  }

  /* Card */
  .card {
    transition: all 0.3s ease-in-out;
    width: 100%;
    position: relative;
    margin-bottom: 10%;
    height: 380px;
  }

  .card img {
    height: 200px !important;
  }

  /* Card text */
  .card-text h3 {
    font-size: 16px;
  }

  .card-text p {
    font-size: 14px;
  }

  /* Status post */
  .status-post-lost {
    font-size: 14px;
  }

  .status-post-found {
    font-size: 14px;
  }

  /* Title */
  .title-lost-and-found {
    padding: 70px 10px 30px !important;
  }

  .title-lost-and-found p {
    font-size: 18px !important;
  }
}

/* SMALL TABLET */
@media (min-width: 577px) and (max-width: 768px) {

  /* Home */
  .hero {
    grid-template-rows: 55% 30% !important;
    grid-template-columns: unset !important;
  }

  .hero img {
    width: 100% !important;
  }

  .hero-text {
    order: 2 !important;
  }

  .hero-text p:nth-child(1) {
    font-size: 35px !important;
    margin-top: -50px !important;
    margin-left: 0% !important;
    width: 100% !important;
  }

  .hero-text p strong {
    font-size: 45px !important;
  }

  .number-buttons {
    margin-left: 22% !important;
    padding: 0px !important;
  }

  .how-it-works {
    grid-template-columns: 50% 50% !important;
    margin-left: 16px !important;
  }

  .report {
    width: 60% !important;
    top: -29px !important;
    left: 22% !important;
    padding: 8px 17px !important;
  }

  .paddingp {
    grid-template-columns: 50% 50% !important;

  }

  .paddingp-bottom {
    grid-template-columns: 50% 50% !important;
    margin: 50px 15px auto !important;
  }

  .paddingp p {
    left: 20% !important;
  }

  .easy {
    margin-left: 2% !important;
  }

  .learn-how-it-works {
    margin-top: -10px !important;
  }

  .newest-post-container {
    display: grid;
    grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
    gap: 20px;
    padding: 16px 24px;
    margin-bottom: 10px;
    margin-left: -40px;
  }

  .title-newest-post {
    padding: 60px 10px !important;
  }

  .card img {
    height: 235px !important;
  }

  .modal-content {
    max-width: 90%;
  }

  .offer-middle label {
    width: max-content;
    padding: 7px 40px;
    margin-left: -16px;
  }

  .offer label {
    padding: 6px 20px;
    margin-left: -16px;
    width: max-content;
  }

  .offer-block {
    margin-top: 8%;
  }

  /* Profile*/
  .profile-page {
    grid-template-rows: 50% 50% !important;
    gap: 70px !important;
  }

  .avatar {
    margin-bottom: 40px !important;
  }




}

/* BIG TABLET */
@media (min-width: 769px) and (max-width: 992px) {

  /* Home */

  .how-it-works {
    grid-template-columns: 50% 50% !important;
    margin-left: 16px !important;
  }

  .report {
    width: 60% !important;
    top: -29px !important;
    left: 22% !important;
    padding: 8px 17px !important;
  }

  .paddingp {
    grid-template-columns: 50% 50% !important;

  }

  .paddingp-bottom {
    grid-template-columns: 50% 50% !important;
    margin: 50px 15px auto !important;
  }

  .report {
    width: 50% !important;
  }

  .paddingp p {
    left: 20% !important;
  }

  .easy {
    margin-left: 2% !important;
  }

  .number-buttons {
    margin-left: 24% !important;
    padding: 0px !important;
  }

  .number-buttons button strong {
    font-size: 18px !important;
  }

  .number-buttons button strong span {
    font-size: 20px !important;
  }

  .hero {
    grid-template-columns: auto !important;
  }

  .hero img {
    width: 100% !important;
  }

  .hero-text {
    order: 2 !important;
  }

  .hero-text p:nth-child(1) {
    font-size: 35px !important;
    margin-top: -80px !important;
    margin-left: 0% !important;
    width: 100% !important;
  }

  .hero-text p strong {
    font-size: 45px !important;
  }

  .title-quick-search {
    margin-top: -80px !important;
  }

  /* About us */
  .newest-post-container {
    display: grid;
    grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
    gap: 20px;
    padding: 16px 24px;
    margin-bottom: 100px;
    margin-left: -40px;
  }

  .card img {
    height: 235px !important;
  }

  .modal-content {
    max-width: 90%;
  }

  .offer-middle label {
    width: max-content;
    padding: 7px 40px;
    margin-left: -16px;
  }

  .offer label {
    padding: 6px 20px;
    margin-left: -16px;
    width: max-content;
  }

  .offer-block {
    margin-top: 8%;
  }


}

/* SMALL LAPTOP */
@media (min-width: 993px) and (max-width: 1200px) {}

/* BIG LAPTOP (Desktop screen) */
@media (min-width: 1201px) {
  .hero img {
    /* width: 90% !important; */
  }
}